.link {
  display: flex;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.link:last-child{
  margin-left: auto;
}

.linkActive {
  color: var(--text-primary-color);
  transition: var(--common-transition)
}

.linkInactive {
  color: var(--text-inactive-color);
}

.linkActive:hover {
  opacity: var(--hover-opacity);
}

.linkInactive:hover {
  color: var(--text-primary-color);
  transition: var(--common-transition);
}

.linkInactive:hover svg {
  fill: var(--text-primary-color);
  transition: var(--common-transition);
}