.burgerConstractor {
  display: flex;
  min-width: 600px;
  flex-direction: column;
  align-items: flex-end;
}

.ingredientsList {
  height: calc(100vh - 490px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
  margin-bottom: 0;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
  background: var(--background-element);
}

.ingredientsList::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredient {
  margin-bottom: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}