.card {
  width: 272px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in;
}

.drag {
  opacity: .5;
}

.card:nth-child(odd) {
  margin-left: 8px;
}

.card:hover {
  box-shadow:inset 0px 0px 100px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  transition: all, .2s ease-in;
}

.image {
  width: 240px;
  height: 120px;
}

.priceContainer {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.title {
  min-height: 48px;
}