.main {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  margin-bottom: 24px;
}

.text {
  color: #8585AD;
}

.link {
  margin-left: 8px;
  color: #4C4CFF;
  transition: all .2s ease-in;
}

.link:hover {
  color: white;
}