.header {
  align-items: center;
  position: relative;
  background-color: var(--background);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  min-height: 88px;
  align-items: center;
  z-index: 1;
}

.logo {
  position: absolute;
  top: calc(50% - 48px/2);
  left: calc(50% - 280px/2);
}