.burgerConstractor {
  display: flex;
  min-width: 600px;
  flex-direction: column;
  align-items: flex-end;
  transition: all .2s ease-in;
}

.hover {
  box-shadow:inset 0px 0px 100px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.ingredientsList {
  width: 100%;
  height: calc(100vh - 490px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
  margin-bottom: 0;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
  background: var(--background-element);
}

.ingredientsList::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.ingredient {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.elem {
  width: 100%;
  margin-left: 16px;
}
